@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('/assorted-plant-leaves-on-table 2.png');
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
}

body {}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}